[core]
# Directory containing the application configs
APPS_DIR = applications, custom_apps

# using symlink to determine if a file had been backuped (default)
METHOD = symlink
SYMLINK_DIR = /home/myname/dotfiles

# using output of a command to determine if a file had been backuped (will be run in $HOME)
# METHOD = command
# # command to execute
# COMMAND = yadm ls-tree -r HEAD --name-only


[ignore_paths]
.atom/*
